/* CURSOR GLOW EFFECT */

.cursor-glow {
  position: fixed;

  width: 280px;
  height: 280px;

  border-radius: 50%;

  pointer-events: none;

  transform: translate(-50%, -50%);

  background: radial-gradient(
    circle,
    rgba(139, 92, 246, 0.15),
    transparent 70%
  );

  filter: blur(40px);

  z-index: -1;

  transition:
    left 0.08s linear,
    top 0.08s linear;
}