/* FOOTER */

.footer {
  padding-bottom: 40px;
}

/* FOOTER TOP */

.footer-top {
  display: grid;

  grid-template-columns: 1.5fr 1fr 1fr;

  gap: 40px;

  padding: 50px;

  margin-bottom: 30px;
}

/* FOOTER INFO */

.footer-info {
  h2 {
    font-size: 2rem;

    margin-bottom: 20px;

    span {
      background: linear-gradient(
        135deg,
        var(--accent-color),
        var(--secondary-color)
      );

      -webkit-background-clip: text;

      -webkit-text-fill-color: transparent;
    }
  }

  p {
    max-width: 420px;

    line-height: 1.8;

    opacity: 0.8;

    color: var(--text-color);
  }
}

/* FOOTER NAV */

.footer-nav {
  display: flex;

  flex-direction: column;

  gap: 18px;

  a {
    text-decoration: none;

    color: var(--text-color);

    opacity: 0.8;

    transition: 0.3s ease;

    &:hover {
      opacity: 1;

      transform: translateX(5px);

      color: var(--secondary-color);
    }
  }
}

/* SOCIALS */

.footer-socials {
  display: flex;

  gap: 20px;

  a {
    width: 55px;
    height: 55px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.06);

    border: 1px solid var(--border-color);

    color: var(--text-color);

    font-size: 1.2rem;

    transition: 0.3s ease;

    &:hover {
      transform: translateY(-6px);

      background: linear-gradient(
        135deg,
        var(--accent-color),
        var(--secondary-color)
      );

      color: white;
    }
  }
}

/* FOOTER BOTTOM */

.footer-bottom {
  display: flex;

  align-items: center;

  justify-content: space-between;

  p {
    opacity: 0.7;

    color: var(--text-color);
  }
}

/* Scroll top button */
.scroll-top {
  width: 55px;
  height: 55px;

  display: flex;

  align-items: center;

  justify-content: center;

  border: none;

  border-radius: 50%;

  cursor: pointer;

  background: linear-gradient(
    135deg,
    var(--accent-color),
    var(--secondary-color)
  );

  color: white;

  transition: 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

/*  RESPONSIVE */

@media (max-width: 992px) {
  .footer-top {
    grid-template-columns: 1fr;

    padding: 40px;
  }
}

@media (max-width: 768px) {
  .footer-top {
    padding: 30px 25px;
  }

  .footer-bottom {
    flex-direction: column;

    gap: 20px;

    text-align: center;
  }
}